$font: "Unbounded";

$accent: #7027e2;
$light: #ffffff;
$dark: #2a2f36;
$grey: #ededed;
$bg: #1F2023;

$tr: .3s;

$br-max: 50px;
$br-min: 20px;

$r_desk_full_over: 1500px;
$r_desk_full: 1400px;
$r_desk: 1024px;
$r_tab: 768px; // iPad Mini
$r_desk_wxga: 1366px;