@use 'font' as *;
@use 'var' as *;
@use "scss-reset";


body {
    background-color: $bg;
    font-family: $font;
    font-weight: 400;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1830px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;

}

.header {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 71px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        height: 27px;
        width: calc(100% - 90px);
        left: 45px;
        top: 0;
        background-color: $accent;
        
    }
    
    &_logo {
        position: relative;
        background-color: $accent;
        padding: 20px 47px 20px 45px;
        border-radius: 10px 0 0 0;

        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 28px;
            width: 27px;
            left: 0px;
            bottom: -27px;
            background-image: url('../images/header-bottom-left.svg');
            background-repeat: no-repeat;
            background-size: contain;
            
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 71px;
            width: 60px;
            top: 0;
            right: -59px;
            background-image: url('../images/header-left.svg');
        }
    }
    
    &_link {
        position: relative;
        background-color: $accent;
        padding: 20px 45px 20px 21px;
        border-radius: 0 10px 0 0;

        & > a {
            color: $light;
            font-size: 20px;
            text-decoration: underline;
            text-underline-offset: 6px;
            transition: $tr;
        }

        & > a:hover {
            color: $grey;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 71px;
            width: 60px;
            top: 0;
            left: -59px;
            background-image: url('../images/header-right.svg');
        }
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 28px;
            width: 27px;
            right: 0px;
            bottom: -27px;
            background-image: url('../images/header-bottom-right.svg');
            background-repeat: no-repeat;
            background-size: contain;
            
        }
    }
}

.main {
    margin-top: 40px;
}

.banner {
    display: flex;
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 50px;
    padding: 100px 50px;
    column-gap: 50px;

    &__title {
        color: $light;
        font-weight: 700;
        font-size: 64px;
        line-height: 110%;
    }

    &__info {
        background-color: $bg;
        width: 649px;
        height: 661px;
        border-radius: 50px;
    }

    &__btn {
        border: 1px solid $accent;
        padding: 52px 0;
        background-color: $accent;
        width: 100%;
        border-radius: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $light;
        transition: $tr;
    }

    &__btn:hover {
        background-color: $bg;
        border: 1px solid $accent;
    }
}

.banner-box {
    display: flex;
    position: relative;
    padding: 30px 0 30px 30px;
    border: 1px solid $light;
    border-radius: 20px;
    margin: 20px 0 135px 0;

    &__main {
        display: flex;
        flex-direction: column;
        width: 669px;
    
    
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $light; 
    }

    &__text {
        margin-top: 30px; 
        max-width: 669px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $light;
    }   
}

.area {
    position: relative;
    height: 176px;
    width: 332px;

    &__img{
        position: absolute;
        left: 16px;
        bottom: 0px;
        width: 336px;
        height: auto;
    }
}