@use 'font' as *;
@use 'var' as *;
@use "scss-reset";


body {
    background-color: $bg;
    font-family: $font;
    font-weight: 400;
    margin: 0;
    color: $light;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1860px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;

}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    height: 71px;
    width: 100%;
    top: 0;
    z-index: 100;

    &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        height: 27px;
        width: calc(100% - 90px);
        left: 45px;
        top: 0;
        background-color: $accent;
        
    }
    
    &_logo {
        position: relative;
        background-color: $accent;
        padding: 20px 47px 20px 45px;
        border-radius: 10px 0 0 0;

        &::before {
            content: "";
            display: block;
            position: absolute;
            height: 28px;
            width: 27px;
            left: 0px;
            bottom: -27px;
            background-image: url('../images/header-bottom-left.svg');
            background-repeat: no-repeat;
            background-size: contain;
            
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 71px;
            width: 60px;
            top: 0;
            right: -59px;
            background-image: url('../images/header-left.svg');
        }
    }
    
    &_link {
        position: relative;
        background-color: $accent;
        padding: 20px 45px 20px 21px;
        border-radius: 0 10px 0 0;

        & > a {
            color: $light;
            font-size: 20px;
            text-decoration: underline;
            text-underline-offset: 6px;
            transition: $tr;
        }

        & > a:hover {
            color: $grey;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            height: 71px;
            width: 60px;
            top: 0;
            left: -59px;
            background-image: url('../images/header-right.svg');
        }
        
        &::after {
            content: "";
            display: block;
            position: absolute;
            height: 28px;
            width: 27px;
            right: 0px;
            bottom: -27px;
            background-image: url('../images/header-bottom-right.svg');
            background-repeat: no-repeat;
            background-size: contain;
            
        }
    }
}

.main {
    margin-top: 135px;
}

.banner {
    display: flex;
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 50px;
    padding: 100px 50px;
    column-gap: 50px;

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 61%;
    }

    &__title {
        color: $light;
        font-weight: 700;
        font-size: 64px;
        line-height: 110%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 19px;
        max-width: 569px;
        flex-basis: calc(39% - 50px);
        margin-right: 80px;
    }

    &__item {
        position: relative;
        height: 151px;
        border: 1px solid $light;
        border-right: none;
        border-radius: 20px 0 0 20px;
        padding: 45px 0 30px 30px;
        transition: $tr;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -1px;
            right: 1px;
            border: 1px solid $accent;
            border-right: none;
            border-radius: 20px 0 0 20px;
            background-color: $accent;
            width: 100%;
            height: 151px;
            z-index: 0;
            transition: $tr;
            transform-origin: bottom right;
            transform: scale(0);
        }

        &:hover {
            border-color: transparent;
            &::before {
                transform: scale(1);
            }

            .banner__decor {
                background-color: $accent;
                border: 1px solid $accent;
                
                &::before {
                    opacity: 0;;
                }
                &::after {
                    transform: scale(1);
                }
            }
        }
    }

    &__item_text {
        position: relative;
        font-weight: 200;
        font-size: 24px;
        line-height: 110%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        z-index: 1;

        span {
            font-weight: 700;
            font-size: 32px;
            line-height: 110%;
        }
    }

    &__decor {
        position: absolute;
        padding: 9px;
        top: 0px;
        right: -80px;
        border: 1px solid $light;
        border-radius: 10px;
        transition: $tr;
        transform-origin: bottom left;
        transition-delay: 50ms;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 80px;
            height: 151px;
            top: -1.5px;
            right: 0px;
            background-image: url(../images/icons/banner-info-decor.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transform-origin: bottom left;
            transition: $tr;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            width: 80px;
            height: 151px;
            top: -1.5px;
            right: 0px;
            background-image: url(../images/icons/banner-info-decor-hover.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transform-origin: bottom left;
            transform: scale(0);
            transition: $tr;
        }
    }

    &__btn {
        border: 1px solid $accent;
        padding: 52px 0;
        background-color: $accent;
        width: 100%;
        border-radius: 20px;
        font-weight: 600;
        font-size: 20px;
        line-height: 110%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $light;
        transition: $tr;
        
        &:hover {
            background-color: transparent;
            border: 1px solid $accent;
        }
    }
}

.banner-box {
    position: relative;
    padding: 30px 332px 30px 30px;
    border: 1px solid $light;
    border-radius: 20px;
    margin: 20px 0 0px 0;

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 110%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $light; 
    }

    &__text {
        margin-top: 30px; 
        max-width: 669px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: $light;
    }   

    &__img {
        position: absolute;
        
        &._electroguitar {
            bottom: 30.13px;
            right: -20.8px;
        }
    }
}

.tag {
    display: flex;
    gap: 24px;
    animation: move-left 20s infinite linear;
    overflow-x: hidden;
    width: max-content;
    justify-content: center;
    margin: 150px 0;


    &:hover {
        animation-play-state: paused;
    }

    &__text {
        padding: 10px 20px;
        border: 1px solid $grey;
        border-radius: 50px;
        position: relative;
        font-weight: 200;
        font-size: 24px;
        line-height: 110%;
        color: $grey;
        background-color: transparent;
        transition: $tr;
    }

    &__text:not(:last-child) {
        margin-right: 40px;
    }

    &__text:not(:last-child)::after {
        content: " ";
        position: absolute;
        right: -40px;
        width: 16px;
        height: 16px;
        background-color: $accent;
        border-radius: 50px;
    }
}
@keyframes move-left {
        from {
            transform: translate(100%,0);
        }
        to {
            transform: translate(-100%,0);
        }
}